    /* Globales*/
    
    html {
        box-sizing: border-box;
        font-size: 62.5%;
        /*Reset para REMS -62.5%= 10px de 16px */
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        line-height: 2;
    }
    
    h1 {
        font-size: 3.8rem;
    }
    
    h2 {
        font-size: 3.4rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2.6rem;
    }
    
    img {
        max-width: 100%;
    }
    
    .contenedor {
        width: 95%;
        max-width: 120rem;
        /* margin propiedades {arriba derecha abajo izquierda} */
        margin: 0 auto;
    }
    /*Utilidades*/
    
    .seccion {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .fw-300 {
        font-weight: 300;
    }
    
    .centrar-texto {
        text-align: center;
    }
    
    .d-block {
        display: block!important;
    }
    /*Botones*/
    
    .boton {
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        margin-top: 3rem;
        display: inline-block;
        text-align: center;
    }
    
    .boton-amarillo {
        background-color: #E08709;
    }
    
    .boton-verde {
        background-color: #71B100;
    }
    /*Header */
    
    .site-header.inicio {
        background-image: url(../img/header.jpg);
        /*Muestra la imagen pero centrada*/
        background-position: center center;
        /*header a la Altura de la pantalla*/
        height: 100vh;
        /*Altura minima del header en la pantalla*/
        min-height: 60rem;
    }
    /*Barra de menu*/
    /*Reemplaza a los px para mejor resolucion en dispositivoos con pantallas con gran cantidad de pixeles*/
    
    .contenido-header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    
    .contenido-header h1 {
        color: white;
        padding-bottom: 3rem;
        max-width: 60rem;
        line-height: 2;
    }
    
    .barra {
        display: flex;
        /*Mueve los elementos a lado derecho flex-end
      Mueve los elementos al centro flex-center
      space-between distribuye los elementos 
    */
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
    }
    
    .navegacion a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.8rem;
        margin-right: 2rem;
        /*Reemplaza a los px para mejor resolucion en dispositivoos con pantallas con gran cantidad de pixeles*/
    }
    /*cambia de color los items del menu pasandole con el cursor*/
    
    .navegacion a:hover {
        color: rosybrown;
    }
    /*last-of-type Selecciona el ultimo elemendo*/
    
    .navegacion a:last-of-type {
        margin: 0;
    }
    /*Iconos nosotros*/
    
    .iconos-nosotros {
        display: flex;
    }
    
    .icono {
        flex-basis: calc(33.3%-1rem);
        /*flex-basis Reemplaza al width*/
        /*calc Realiza operaciones*/
        text-align: center;
    }
    
    .icono h3 {
        /* text-transform Transforma el texto*/
        text-transform: uppercase;
    }
    /*Anuncios*/
    
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
    }
    
    .anuncio {
        flex-basis: calc(33.3% - 1rem);
        border: 1px solid #B5B5B5;
        background-color: #f5f5f5;
    }
    
    .contenido-anuncio {
        padding: 2rem 4rem;
    }
    
    .contenido-anuncio h3,
    .contenido-anuncio p {
        margin: 0;
    }
    
    .precio {
        color: #71B100;
        font-weight: 700;
    }
    
    .iconos-caracteristicas {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    .iconos-caracteristicas li {
        display: flex;
    }
    
    .iconos-caracteristicas img {
        margin: 1.5rem;
    }
    
    .ver-todas {
        display: flex;
        justify-content: flex-end;
    }
    /*Contato Home*/
    
    .imagen-contacto {
        background-image: url(../img/encuentra.jpg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        display: flex;
        align-items: center;
    }
    
    .contenido-contacto {
        flex: 0 0 95%;
        color: white;
    }
    
    .contenido-contacto p {
        font-size: 1.8rem;
    }
    /*Seccion inferior*/
    
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% -2rem);
    }
    
    .entrada-blog {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    
    .entrada-blog:last-of-type {
        margin-bottom: 0;
    }
    
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% -3rem);
    }
    
    .texto-entrada a {
        color: #000000;
        text-decoration: none;
    }
    
    .texto-entrada h4 {
        margin: 0;
        line-height: 1.4;
    }
    
    .texto-entrada h4::after {
        content: '';
        display: block;
        width: 15rem;
        height: .5rem;
        background-color: #71B100;
        margin-top: 1rem;
    }
    
    .texto-entrada span {
        color: peru;
    }
    /*Testimoniales*/
    
    .testimonial {
        background-color: chocolate;
        color: white;
        font-size: 2.4rem;
        padding: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 10rem;
    }
    
    .testimonial p {
        text-align: right;
    }
    /*position nos permite posicionar un elemento donde deseemos*/
    
    .testimonial blockquote::before {
        content: '';
        background-image: url(../img/comilla.svg);
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: -2rem;
    }
    
    .testimonial blockquote {
        position: relative;
        padding-left: 5rem;
        font-weight: 300;
    }
    /*Footer*/
    
    .site-footer {
        background-color: #333333;
        margin: 0;
    }
    
    .copyright {
        margin: 0;
        color: #ffffff;
    }
    
    .contenedor-footer {
        padding-left: 3rem 0;
        display: flex;
        justify-content: space-between;
    }